Source: tuxtremsplit
Section: utils
Priority: extra
Maintainer: Guillaume Hain <zedtux@zedroot.org>
Build-Depends: debhelper (>= 6.0.4), python (>= 2.5), python-support (>= 0.7.5), python-yaml, python-gtk2
Standards-Version: 3.9.2
Homepage: http://tuxtremsplit.zedroot.org/
X-Python-Version: >= 2.6

Package: tuxtremsplit
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Suggests: lpbugreporter
Conflicts: tuxtremsplit-console
Description: Xtremsplit files Linux tool
 TuXtremSplit is a free and open source software which allow you splitting
 large files into smaller XTM parts or join xtm files to get back
 the original file.
